name: uchicago_1h
on:
    schedule:
        - cron: "0 * * * *"

permissions:
    contents: read

jobs:
    es-state:
        runs-on: arc-runner-set-uchicago-alarm-alert-system
        steps:
            - uses: actions/checkout@v6

            #   - uses: ./.github/actions/setup-globus
            #     with:
            #       voms-usercert: ${{ secrets.VOMS_USERCERT }}
            #       voms-userkey: ${{ secrets.VOMS_USERKEY }}

            - name: execute
              run: ./es-cluster-state.sh
              shell: bash
              env:
                  ES_HOST: ${{ secrets.ES_HOST }}
                  ES_USER: ${{ secrets.ES_USER }}
                  ES_PASS: ${{ secrets.ES_PASS }}
                  AAAS: ${{ secrets.AAAS }}
                  MAILGUN_API_KEY: ${{ secrets.MAILGUN_API_KEY }}
            - name: upload log
              if: always()
              uses: actions/upload-artifact@v6
              with:
                  name: ${{ github.job }}-logs
                  path: |
                      es-cluster-state.log

    varnish:
        runs-on: arc-runner-set-uchicago-alarm-alert-system
        steps:
            - uses: actions/checkout@v6
            - name: execute
              run: ./varnish.sh
              shell: bash
              env:
                  ES_HOST: ${{ secrets.ES_HOST }}
                  ES_USER: ${{ secrets.ES_USER }}
                  ES_PASS: ${{ secrets.ES_PASS }}
                  AAAS: ${{ secrets.AAAS }}
                  MAILGUN_API_KEY: ${{ secrets.MAILGUN_API_KEY }}
            - name: upload log
              if: always()
              uses: actions/upload-artifact@v6
              with:
                  name: ${{ github.job }}-logs
                  path: |
                      varnish.log

    xcache:
        runs-on: arc-runner-set-uchicago-alarm-alert-system
        steps:
            - uses: actions/checkout@v6
            - name: execute
              run: ./xcache.sh
              shell: bash
              env:
                  ES_HOST: ${{ secrets.ES_HOST }}
                  ES_USER: ${{ secrets.ES_USER }}
                  ES_PASS: ${{ secrets.ES_PASS }}
                  AAAS: ${{ secrets.AAAS }}
                  MAILGUN_API_KEY: ${{ secrets.MAILGUN_API_KEY }}
            - name: upload log
              if: always()
              uses: actions/upload-artifact@v6
              with:
                  name: ${{ github.job }}-logs
                  path: |
                      xcache.log

    vp:
        runs-on: arc-runner-set-uchicago-alarm-alert-system
        steps:
            - uses: actions/checkout@v6
            - name: execute
              run: ./vp.sh
              shell: bash
              env:
                  ES_HOST: ${{ secrets.ES_HOST }}
                  ES_USER: ${{ secrets.ES_USER }}
                  ES_PASS: ${{ secrets.ES_PASS }}
                  AAAS: ${{ secrets.AAAS }}
                  MAILGUN_API_KEY: ${{ secrets.MAILGUN_API_KEY }}
            - name: upload log
              if: always()
              uses: actions/upload-artifact@v6
              with:
                  name: ${{ github.job }}-logs
                  path: |
                      vp.log

    top-users:
        runs-on: arc-runner-set-uchicago-alarm-alert-system
        steps:
            - uses: actions/checkout@v6
            - name: execute
              run: ./top-users.sh
              shell: bash
              env:
                  ES_HOST: ${{ secrets.ES_HOST }}
                  ES_USER: ${{ secrets.ES_USER }}
                  ES_PASS: ${{ secrets.ES_PASS }}
                  AAAS: ${{ secrets.AAAS }}
                  MAILGUN_API_KEY: ${{ secrets.MAILGUN_API_KEY }}
            - name: upload log
              if: always()
              uses: actions/upload-artifact@v6
              with:
                  name: ${{ github.job }}-logs
                  path: |
                      top-users.log

    job-task-indexing:
        runs-on: arc-runner-set-uchicago-alarm-alert-system
        steps:
            - uses: actions/checkout@v6
            - name: execute
              run: ./job-task-indexing.sh
              shell: bash
              env:
                  ES_HOST: ${{ secrets.ES_HOST }}
                  ES_USER: ${{ secrets.ES_USER }}
                  ES_PASS: ${{ secrets.ES_PASS }}
                  AAAS: ${{ secrets.AAAS }}
                  MAILGUN_API_KEY: ${{ secrets.MAILGUN_API_KEY }}
            - name: upload log
              if: always()
              uses: actions/upload-artifact@v6
              with:
                  name: ${{ github.job }}-logs
                  path: |
                      job-task-indexing.log

    frontier-threads:
        runs-on: arc-runner-set-uchicago-alarm-alert-system
        steps:
            - uses: actions/checkout@v6
            - name: execute
              run: ./frontier-threads.sh
              shell: bash
              env:
                  ES_HOST: ${{ secrets.ES_HOST }}
                  ES_USER: ${{ secrets.ES_USER }}
                  ES_PASS: ${{ secrets.ES_PASS }}
                  AAAS: ${{ secrets.AAAS }}
                  MAILGUN_API_KEY: ${{ secrets.MAILGUN_API_KEY }}
            - name: upload log
              if: always()
              uses: actions/upload-artifact@v6
              with:
                  name: ${{ github.job }}-logs
                  path: |
                      frontier-threads.log

    frontier-failed-q:
        runs-on: arc-runner-set-uchicago-alarm-alert-system
        steps:
            - uses: actions/checkout@v6
            - name: execute
              run: ./frontier-failed-q.sh
              shell: bash
              env:
                  ES_HOST: ${{ secrets.ES_HOST }}
                  ES_USER: ${{ secrets.ES_USER }}
                  ES_PASS: ${{ secrets.ES_PASS }}
                  AAAS: ${{ secrets.AAAS }}
                  MAILGUN_API_KEY: ${{ secrets.MAILGUN_API_KEY }}
            - name: upload log
              if: always()
              uses: actions/upload-artifact@v6
              with:
                  name: ${{ github.job }}-logs
                  path: |
                      frontier-failed-q.log

    frontier-bad-sql:
        runs-on: arc-runner-set-uchicago-alarm-alert-system
        steps:
            - uses: actions/checkout@v6
            - name: execute
              run: ./frontier-bad-sql.sh
              shell: bash
              env:
                  ES_HOST: ${{ secrets.ES_HOST }}
                  ES_USER: ${{ secrets.ES_USER }}
                  ES_PASS: ${{ secrets.ES_PASS }}
                  AAAS: ${{ secrets.AAAS }}
                  MAILGUN_API_KEY: ${{ secrets.MAILGUN_API_KEY }}
            - name: upload log
              if: always()
              uses: actions/upload-artifact@v6
              with:
                  name: ${{ github.job }}-logs
                  path: |
                      frontier-bad-sql.log

    sending-mails:
        runs-on: arc-runner-set-uchicago-alarm-alert-system
        steps:
            - uses: actions/checkout@v6
            - name: execute
              run: ./sending-mails.sh
              shell: bash
              env:
                  ES_HOST: ${{ secrets.ES_HOST }}
                  ES_USER: ${{ secrets.ES_USER }}
                  ES_PASS: ${{ secrets.ES_PASS }}
                  AAAS: ${{ secrets.AAAS }}
                  MAILGUN_API_KEY: ${{ secrets.MAILGUN_API_KEY }}
            - name: upload log
              if: always()
              uses: actions/upload-artifact@v6
              with:
                  name: ${{ github.job }}-logs
                  path: |
                      sending-mails.log
